.team {
  @include flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

@include media-xl {
  .team {
    max-width: 1500px;
  }
}
.heading{
  line-height: 55px;
  font-size: 45px;
  font-weight: bolder;
  margin: 12px;
}
