@import "./config";

.cover {
  --bdr-rad: 10px;
  --title-text-size: 1.5rem;
  --footer-text-size: 1rem;
  
  background: white;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px hsla(0deg, 0%, 0%, 0.090);
  padding: 2vmin;
  border-radius: var(--bdr-rad);
  width: 90%;
  max-width: 280px;
  margin: 1rem;
  transition: all 200ms;

  &:hover {
    transform:scale(1.025);
    box-shadow: 2px 2px 40px 0px hsla(0deg, 0%, 0%, 0.1);
  }

  .image {
    border-radius: var(--bdr-rad) var(--bdr-rad) 0 0;
    margin-bottom: 0.25rem;

    & img {
      inset: 0;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: var(--bdr-rad);
    }
  }

  .title {
    font-size: var(--title-text-size);
    line-height: 100%;
    text-align: Left;
    width: 100%;
    padding: 0 5px 10px 5px;
  }
}

.blogfooter {
  @include flex;
  justify-content: space-between;
  padding: 0 5px;
  font-size: var(--footer-text-size);

  & .info {
    span {
      margin: 0 5px;

      & > .icon {
        margin: 0 0 1px 4px;
        color: #7B5EDE;
      }
    }
  }
}
