@import "./config";

.title {
  text-align: left;
  margin: 2.5rem 0 2.5rem 0.7rem;
  font-size: 5.8vmin;
  font-weight: 600;
}

.material {
  width: 95%;
  margin: auto;
  @include flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

// styles for pdfshow component
.pdficon {
  margin: 1rem 0.5rem 1rem 0.5rem;
}

.tagLine {
  text-align: center;
  font-size: 2.5vmin;
}

.iconWrapper {
  width: 13vmin;
  height: auto;
}
