@import './config';

.main {
	width: 100%;
}

.semWrapper {
	width: 90%;
	margin: 5rem auto auto auto;
	max-width: 1000px;

	.semNum {
		text-align: left !important;
		margin: 0;
	}

	.subjects {
		padding-left: 0.5rem;
		list-style: none;
		.subjItem > div {
			@include flex;
			justify-content: space-between;
			font-size: 4vmin !important;
		}
	}
}
