.blog {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 40px;
}

.blogHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogHeaderInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1700px;
  gap: 35px;
  flex-wrap: wrap;
}

.blogHeaderInfoLeft,
.blogHeaderInfoRight {
  display: flex;
  gap: 35px;
  align-items: center;
}

.blogHeaderInfoLeft > ul {
  display: flex;
  gap: 35px;
}

.blogHeaderInfoLeft > ul li {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  color: rgb(68, 68, 68);
  fill: rgb(68, 68, 68);
  cursor: pointer;
}

.blogHeaderInfoLeft > ul li:last-child {
  color: green;
  fill: green;
}

.blogHeaderInfoRight {
  gap: 50px;
}

.socialIcons {
  display: flex;
  gap: 30px;
}

.socialIcons > li {
  font-size: 20px;
  color: rgb(68, 68, 68);
  fill: rgb(68, 68, 68);
}

.bookmark_and_more_icon {
  display: flex;
  gap: 30px;
  font-size: 20px;
  color: rgb(68, 68, 68);
  fill: rgb(68, 68, 68);
}

.blogPicture img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 700px;
  margin: 20px auto;
}

.blogBody {
  margin: 0 auto 50px;
  width: 100%;
  max-width: 1700px;
}

.blogCommentSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.sendComment {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 1700px;
  margin-bottom: 30px;
}

.userComment {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  width: 100%;
}

.userMessageInput {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.userMessageInput input,
.userMessageInput textarea {
  width: 100%;
  max-width: 1700px;
  border: 1px solid black;
  background-color: white;
  padding: 15px;
  font-size: 17px;
  outline: none;
}

.sendComment button {
  padding: 15px 50px;
  background-color: rgb(22, 81, 211);
  border: none;
  color: white;
  border-radius: 30px;
  width: fit-content;
  font-size: 17px;
  cursor: pointer;
}

.userMessageInput input::placeholder,
.userMessageInput textarea::placeholder {
  color: #121212;
}

.blogCommentSection ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1700px;
}

.blogCommentSection ul li {
  width: 100%;
  border: 1px solid grey;
  padding: 10px 15px;
  cursor: pointer;
}

.otherBlogsCard {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: center;
  gap: 20px;
  max-width: 1700px;
  margin: 0 auto;
}

.otherBlogsCard > h3 {
  font-size: 32px;
}

.blogCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}

@media screen and (max-width: 768px) {
  .blogHeaderInfo {
    justify-content: center;
  }

  .blogHeaderInfoLeft > ul li {
    font-size: 18px;
  }
}
