@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

.profile {
  border-radius: 50%;
  height: 200px;
  margin-bottom: 20px;
  transition: .4s ease;
  @media screen and (max-width: 768px) {
    height: 150px;
  }
}
.profile:hover {
   box-shadow: 0 0 11px rgba(66, 44, 255, 0.8), 0 0 11px rgba(102, 204, 255, 0.8);
  transform: scale(1.1);
}
.card {
  margin: 20px;
  padding: 15px;
  cursor: pointer;
}

.content {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.text {
  font-weight: 700;
  font-size: large;
}
