/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&display=swap'); */

:root {
  --header-margin: 40px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Baloo Bhai 2", cursive;
  scroll-behavior: smooth;
}

h2 {
  margin: 100px 20px 30px 20px;
  line-height: 55px;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* setting up fonts */
@font-face {
  font-family: "Baloo Bhai 2";
  src: url("/fonts/balooBhai.woff2");
  font-display: fallback;
}
@font-face {
  font-family: "Baloo Bhai 2";
  font-weight: 500;
  src: url("/fonts/balooBhai.woff2");
  font-display: fallback;
}
@font-face {
  font-family: "Baloo Bhai 2";
  font-weight: 600;
  src: url("/fonts/balooBhai.woff2");
  font-display: fallback;
}
@font-face {
  font-family: "Baloo Bhai 2";
  font-weight: 700;
  src: url("/fonts/balooBhai.woff2");
  font-display: fallback;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:focus {
  background-color: rgb(243, 239, 255);
  box-shadow: none;
  outline: none;
}

::placeholder {
  color: rgb(62, 62, 252);
  font-family: "Baloo Bhai 2", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

.nav_active {
  background-color: blueviolet;
}

.sun-editor .se-toolbar {
  outline: none !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
}
.sun-editor {
  border: none !important;
}

.se-resizing-bar {
  display: none !important;
}

.sun-editor .se-btn:enabled.active {
  background: rgb(62, 62, 252) !important;
  color: white !important;
}
.sun-editor .se-btn-module-border {
  border: none !important;
}

.se-btn-tray {
  border: none !important;
}

.se-input-form,
.se-input-control {
  border: none !important;
  outline: none !important;
  background: whitesmoke;
  transition: all 300ms linear !important;
}

.se-input-form:focus,
.se-input-control:focus {
  box-shadow: 0 0 10px rgba(62, 62, 252, 0.123) !important;
  background: white !important;
}

.se-btn-primary {
  background-color: rgb(62, 62, 252) !important;
  color: white !important;
  border: none !important;
}

._se_image_file {
  background: transparent !important;
  margin-top: 0.5rem !important;
  cursor: pointer;
}

._se_image_file:focus {
  box-shadow: none !important;
}

::-webkit-file-upload-button {
  border: none !important;
  outline: none !important;
  background: rgb(62, 62, 252);
  color: white !important;
  padding: 0.3rem 0.7rem;
  border-radius: 14px;
  cursor: pointer;
}

.se-dialog-body > div {
  border: none !important;
}

.se-image-container {
  margin-bottom: 0 !important;
}
.__se__float-left {
  margin-right: 0.8rem !important;
}

.se-wrapper {
  font-size: 5rem !important;
  min-height: 70vh !important;
  max-width: 900px !important;
  margin: auto;
  font-family: "Baloo Bhai 2", sans-serif !important;
}

.sun-editor-editable {
  font-family: "Baloo Bhai 2", sans-serif !important;
  font-size: 3.4vmin !important;
  min-height: 50vmin !important;
}

/* Styling for the image that appears in header */
.headerImage {
  height: 100%;
  width: 100%;
  position: relative !important;
  object-fit: cover;
}

/* CSS for 404 pages */
.errorWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorWrapper > svg {
  width: 70%;
  height: auto;
}

/* css for error page */
#lightLamp {
  animation: lamp 3s linear infinite;
}

@keyframes lamp {
  49% {
    opacity: 0;
  }

  55% {
    opacity: 1;
  }

  59% {
    opacity: 0;
  }

  65% {
    opacity: 1;
  }
}

#hand {
  animation: rotate 3s ease-in-out infinite;
  transform-origin: 89.5%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(16deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
