@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');

/* styling for section container  */
#content {
  display: flex;
  flex-direction: column;
  font-family: 'Baloo Bhai 2', sans-serif;
}

/* styling for our mission container  */
.mission {
  z-index: 30;
  text-align: center;
  margin: 20px 0px;
}
.mission h2 {
  line-height: 55px;
  font-size: 45px;
  font-weight: bold;
  margin: 12px;
}
.mission p {
  font-family: 'Baloo Bhai 2', sans-serif;
  max-width: 700px;
  margin: auto;
  padding: 14px;
}

@media only screen and (min-width: 500px) {
  .mission {
    background-size: 700px 2000px;
  }
  .mission p {
    font-size: 30px;
  }
}

/* styling the our services section  */
#ourserv {
  z-index: 30;
  position: relative;
  margin-top: 60px;
  margin-bottom: 20px;
}

/* "Our Services" heading styling */
#ourserv h2 {
  line-height: 55px;
  z-index: 30;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  margin: 10px;
}

/* styling for images used in our service section  */
#ourserimgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
  margin: auto;
}

#ourserimgs div {
  text-align: center;
  margin: 20px;
  cursor: pointer;
}

#ourserimgs div img {
  display: block;
  margin: 15px auto;

  width: 130px !important;
  height: 130px !important;
}

#ourserimgs div p {
  width: 80%;
  font-weight: bold;
  pointer-events: none;
  max-width: 170px;
  margin: auto;
}

/* styling for vector bg for grab notes */

/* styling for grab your notes  */
.grabnotes {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  margin-bottom: 40px;
  justify-content: center;
}

/* Grab Your Notes Heading  */
.grabh2 {
  justify-content: center;
  line-height: 55px;
  z-index: 30;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  margin: 150px 8px 0px 8px;
}
.grabnotes a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.grabnotes div {
  position: relative;
  text-align: center;
  width: 130px;
  height: 130px;
  z-index: 30;
  border-radius: 10px !important;
}
.grabnotes div p {
  position: relative;
  top: 140px;
  line-height: 25px;
  font-weight: bold;
}

.tlt {
  width: 130px !important;
  height: 130px !important;
  padding: 0 !important;
  margin: 20px !important;
}
.grab1 {
  background: url('/images/home/btech.svg') no-repeat center center;
}
.grab2 {
  background: url('/images/home/be.svg') no-repeat center center/cover;
}
.grab3 {
  background: url('/images/home/bcom.svg') no-repeat center center/cover;
}
.grab4 {
  background: url('/images/home/bsc.svg') no-repeat center center/cover;
}

/* styling for grab your notes section for pc  */
@media only screen and (min-width: 900px) {
  .tlt {
    width: 200px !important;
    height: 200px !important;
    cursor: pointer;
  }
  .grabnotes div {
    width: 200px !important;
    height: 200px !important;
    left: 0;
    border-radius: 10px !important;
  }
  .grabnotes div p {
    top: 220px;
    font-size: 30px;
  }

  #ourserimgs div img {
    width: 200px !important;
    height: 200px !important;
    filter: drop-shadow(0px 0px 10px black) !important;
  }
}

/* styling for recent updates section  */
/* same css as grabnotes section will be given to recent updates section  */

.rec1 {
  background: url('/images/home/app.svg') no-repeat center center/cover;
}
.rec2 {
  background: url('/images/home/blog.svg') no-repeat center center/cover;
}
.rec3 {
  background: url('/images/home/comp_exam.svg') no-repeat center center/cover;
}

/* Styling for contact form  */
.cntfrm {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 7px;
  width: 100%;
  max-width: 600px;
  margin: 30px auto 0px auto;
  border: 1px solid #e6e6e6;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgb(216, 213, 225);
}

.cntfrm textarea {
  resize: none;
}

.details {
  margin: 7px;
  color: #6565fd; /*#000000cc*/
  font-weight: bold;
  padding: 13px 18px;
  background-color: rgba(235, 235, 241, 0.273);
  font-family: 'Baloo Bhai 2';
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  transition: all 0.4s ease;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #b9b9e0;
}

.cntfrm textarea:focus {
  background-color: rgb(243, 239, 255);
  box-shadow: none;
  outline: none;
}

.address {
  margin: 7px;
  color: #6565fd;
  padding: 10px 18px;
  background-color: rgba(235, 235, 241, 0.273);
  font-family: 'Baloo Bhai 2,sans-serif';
  border: 1px solid #e6e6e6;
  font-weight: bold;
  border-radius: 10px;
  transition: all 0.4s ease;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #b9b9e0;
}

.msg {
  margin: 7px;
  padding: 10px 18px; /*24px 18px*/
  background-color: rgba(235, 235, 241, 0.273);
  color: #6565fd;
  font-family: 'Baloo Bhai 2', sans-serif;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  font-weight: bold;
  flex-basis: 38%;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #b9b9e0;
  transition: all 0.4s ease;
}

@media only screen and (max-width: 700px) {
  .cntfrm {
    text-align: center;
    display: block;
    line-height: 4.5rem;
    width: 80%;
    max-width: 450px;
  }

  .details {
    margin: 0px auto;
    height: 50px;
    width: 85%;
  }

  .address {
    width: 85%;
    line-height: 1.5rem;
    margin-bottom: 0px;
    height: 100px;
  }

  .msg {
    margin: -14px auto 0px auto;
    width: 85%;
    line-height: 1.5rem;
    height: 150px;
  }
}

#sub {
  display: block;
  margin: 25px auto;
  padding: 10px 0px;
  width: 50%;
  max-width: 150px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Baloo Bhai 2', sans-serif;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  background-color: #6565fd;
  cursor: pointer;
  transition: all 0.4s ease;
}

#sub:hover {
  background-color: #8585e8;
  border: 1px solid #6565fd;
}

#sub:hover > div > div {
  background: rgb(159, 154, 255) !important;
}
