@import url("https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");

/* style for logo  */
.logo {
	position: absolute;
	width: 20%;
	float: left;
	top: 2vh;
	left: 1.5vh;
	max-width: 105px;
}

/* navigation bar style for mobile phone */
.list {
	font-family: "Baloo Bhai 2";
	opacity: 80%;
	background-color: rgb(255, 255, 255);
	position: fixed;
	width: 40%;
	top: 100px;
	right: -700px;
	list-style: none;
	padding: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	transition: all 0.5s cubic-bezier(0, 1.21, 1, 0.97);
	z-index: 1000;
}

/* targeting list items of navigation bar  */
.listitem {
	display: inline-block;
	text-align: center;
	border: none;
	margin: 5px auto;
	transition: all 0.5s ease;
	z-index: 21;
	border-radius: 10px;
	width: 100%;
	padding: 2px;
	cursor: pointer;
}

/* nav bar links  */
.lnk {
	font-size: 17px;
	text-decoration: none;
	color: black;
	list-style: none;
}

/* checkbox for hamburger menu  */
.menu {
	position: absolute;
	opacity: 0;
	z-index: 20;
	top: 10px;
	right: 20px;
	width: 60px;
	height: 60px;
}

/* hamburger menu style  */
.ham {
	justify-content: center;
	z-index: 1000;
	position: absolute;
	top: 5.5vw;
	right: 20px;
	width: 10%;
	height: 10%;
	background-color: transparent;
	border-radius: 12px;
	padding: 10px;
	transition: all 0.5s ease;
}

/* styling of lines present in hamburger menu */
.hamline {
	position: absolute;
	right: 5px;
	width: 38px;
	margin: auto;
	height: 4px;
	border-radius: 4px;
	background-color: white;
	color: white;
	transition: all 0.5s ease;
}

/* style for each line of hamburger menu */
.hamline1 {
	transition: all 0.4s ease;
}

/* targeting each line uniquely */
.hamline2 {
	top: 23px;
	transition: all 0.5s ease;
}

/* line 3 */
.hamline3 {
	top: 37px;
	transition: all 0.4s ease;
}

/* style for overlay that apprars when nav menu shows up  */
.blackoverlay {
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	color: white;
	background-color: black;
	opacity: 0;
	transition: all 0.4s ease;
}

.menu:checked ~ .ham {
	position: absolute;
}

/* changes when checkbox is checked  */
.menu:checked ~ .navbar .list {
	right: 0px;
}

/* animation after clicking the hamburger icon  */
.menu:checked ~ .ham > .hamline1 {
	transform: rotate(135deg);
	top: 23px;
}

.menu:checked ~ .ham > .hamline3 {
	transform: rotate(-135deg);
	top: 23px;
}

.menu:checked ~ .ham > .hamline2 {
	transform: rotate(135deg);
}

/* appearance for the overlay in the background when 
navigation menu opens in mobile phones */
.menu:checked ~ .blackoverlay {
	opacity: 0.4;
	z-index: 900;
}

/* navigation bar on bigger screens  */
@media only screen and (min-width: 750px) {
	.logo {
		left: 30px;
	}
	.ham {
		display: none;
	}
	.menu {
		display: none;
	}
	.navbar {
		background: transparent;
		height: 70px;
		position: fixed;
		z-index: 1000;
		top: 0;
		width: 100%;
		transition: all 0.5s ease;
	}
	.navbar.active {
		background: white;
	}

	.list {
		width: 500px;
		position: absolute;
		background: transparent;
		display: flex;
		margin: 0;
		padding: 0;
		right: 10px;
		top: 17px;
		z-index: 2;
	}
	.listitem {
		background-color: transparent;
		font-weight: bold;
		width: 100px;
		border-radius: 20px;
		padding-left: 5px;
		padding-right: 5px;
		margin: auto 3px;
		transition: all 0.5s ease !important;
		-webkit-transition: all 0.5s ease !important;
	}
	.lnk {
		width: 100%;
		font-size: 22px;
		color: rgb(255, 255, 255);
		text-shadow: 2px -2px 8px rgba(0, 0, 0, 0.228);
	}
	.listitem:hover > .lnk {
		text-shadow: white 2px 2px 10px;
	}
	.lnk.active {
		text-shadow: white 0px 0px 10px !important;
	}

	.nav_active {
		color: rgb(12, 12, 12);
		text-shadow: none !important;
	}

	.nav_active.active {
		color: white;
		text-shadow: none !important;
	}

	.navList_active {
		background-color: rgb(62, 62, 252);
	}

	.tem {
		flex-basis: 12%;
	}
	.blg {
		flex-basis: 12%;
	}
}
