.searchbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 2% auto;
}

.searchInput {
    width: 400px;
    height: 50px;
    border: 0;
    border-radius: 30px 0px 0px 30px;
    padding: 8px 20px;
    font-size: 18px;
    box-shadow: 2px 2px 5px 0px grey;
  }
    
  .searchInput:focus {
    box-shadow: 2px 2px 5px 0px grey;
    /* background-color: white; */
  }
   .searchBtn {
        width: 100px;
        height: 50px;
        /* background:linear-gradient(to left, rgb(249, 116, 249), rgb(62, 151, 102)); */
        background: purple;
        color: white;
        border: 0;
        border-radius: 0 30px 30px 0;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 2px 2px 5px 0px grey;
    }